@using Rocky_app.Utils
@model Rocky_app.Models.Product

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.CategoryName.Replace(' ', '_')">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm w-100 h-100" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Name</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@($"{Model.Price:C}")</span> / sqft</label> </div>
        </div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ImagePath@Model.ImageUrl" alt="Card image cap">
        <div class="card-body p-1 px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100" style="background-color:#c96486">@Model.Name</span>
            </div>
            <div class="col-6 border-0">
                <span class="badge p-2 border w-100" style="background-color:#4ac6f3">@Model.ApplicationType.ApplicationTypeName</span>
            </div>
            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                @*@if (!string.IsNullOrEmpty(Model.ShortDesc))
                {
                    <p>@Model.ShortDesc</p>   
                }
                else
                {
                    <p>Empty</p>
                }*@
            </div>
            <div class="col-12 p-1">
                <a class="btn btn-dark form-control btn-sm p-2" asp-controller="Home" asp-action="ViewDetails" asp-route-id="@Model.Id" style="height:40px">View Details</a>
            </div>
        </div>
    </div>
</div>
